*, *:before, *:after {
    box-sizing: border-box;
}

main {
	max-width: 1240px;
	width: 90%;
	margin: 0 auto;
}

.button-container {
	display: flex;
}

.button {
	flex: 1 1 auto;
	display: block;
	width: 100px;
	padding: 10px 5px;
	margin: 0 1% 10px;
	text-align: center;
	background-color: cadetblue;
	color: #FFF;
}

.message-container .message {
	display: none;
}
.message-container .message:first-of-type {
	display: block;
}

